<%= form_for :song, url: songs_path do |f| %>
  <p>
    <%= f.label :tune %><br>
    <%= f.text_field :tune %>
  </p>
 
  <p>
    <%= f.label :singer %><br>
    <%= f.text_field :singer %>
  </p>

  <p>
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>