<h1>Tuneful</h1>
 
<table>
  <tr>
    <th>id</th>
    <th>Song</th>
    <th>Artist</th>
    <th>Label</th>
  </tr>
 
  <% @songs.each do |song| %>
    <tr>
    	<td><%= song.id %></td>
      <td><%= song.tune %></td>
      <td><%= song.singer %></td>
      <td><%= song.company %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'add a song', new_song_path %>