<div class="col-sm-10 scoot">

	<table class="table-responsive gintable lato_font">
		<tr>
			<th>drinks</th>
			<th>bars</th>
		</tr>
		<% @drinks.each do |drink| %>
		<tr>
			<td><%= link_to drink.name, drink_path(drink) %></td>
			<td><%= drink.bar.try(:name) %></td>
		</tr>
		<% end %>
	</table>
</div>

</div>
<%= link_to 'browse bars', bars_path, :class => 'btn btn-search btn-sm lato_font' %>
<%= link_to 'add new cocktail', new_drink_path, :class => 'btn btn-01 btn-sm lato_font' %>
<%= link_to 'add new bar', new_bar_path, :class => 'btn btn-02 btn-sm lato_font' %>

