<div class="col-xs-10 col-xs-offset-1">
	<div class="row">

		<h1><%= link_to 'Tuneful labels', root_path, :class => 'hed' %></h1>
		<ul>
		<% @labels.each do |label| %>
			<li><%= label.try(:name) %></li>
		<% end %>
		</ul>
	</div>
	<%= link_to 'add new label', new_label_path, :class => 'btn btn-info btn-sm' %> <%= link_to 'add artist to existing label', new_artist_path, :class => 'btn btn-info btn-sm' %> <%= link_to 'view singers', artists_path, :class => 'btn btn-primary btn-sm' %> <%= link_to 'view songs', songs_path, :class => 'btn btn-primary btn-sm' %>

</div>