<%= form_for :artist, url: artists_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :sang %><br>
    <%= f.text_field :sang %>
  </p>

  <p>
    <%= f.label :info %><br>
    <%= f.text_field :info %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>