<div class="col-xs-12">
<div class="col-xs-10 col-xs-offset-1">
  <div class="row">

  <h1><%= link_to 'Tuneful singers', root_path, :class => 'hed' %></h1>
  <div class="table-responsive">
  <table class="table table-condensed">
  <tr>
    <th>Artist</th>
    <th>Record Label</th>
  </tr>
 
  <% @artists.each do |artist| %>
    <tr>
      <td><%= artist.name %></td>
      <td><%= artist.label.try(:name) %></td>
      <td><%= link_to 'show', artist_path(artist), :class => 'btn btn-show btn-sm' %> 
          <%= link_to 'edit', edit_artist_path(artist), :class => 'btn btn-edit btn-sm' %>
          <%= link_to 'destroy', artist_path(artist), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-destroy btn-sm' %>
      </td>
    </tr>
  <% end %>
</table>
</div>
</div>

<%= link_to 'add new artist', new_artist_path, :class => 'btn btn-info btn-sm' %> <%= link_to 'add record label', new_label_path, :class => 'btn btn-info btn-sm' %> <%= link_to 'add song', new_song_path, :class => 'btn btn-info btn-sm' %> 
<%= link_to 'view songs', songs_path, :class => 'btn btn-primary btn-sm' %> <%= link_to 'view record labels', labels_path, :class => 'btn btn-primary btn-sm' %> 
</div>
</div>