<h1>Tuneful singers</h1>
 
<table>
  <tr>
    <th>id</th>
    <th>Artist</th>
    <th>Song</th>
    <th>Info</th>
  </tr>
 
  <% @artists.each do |artist| %>
    <tr>
    	<td><%= artist.id %></td>
      <td><%= artist.name %></td>
      <td><%= artist.sang %></td>
      <td><%= artist.info %></td>
      <td><%= link_to 'show', artist_path(artist) %> 
          <%= link_to 'edit', edit_artist_path(artist) %>
          <%= link_to 'destroy', artist_path(artist), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'add an artist', new_artist_path %>