<div class="col-xs-12">
<div class="col-xs-10 col-xs-offset-1">
  <div class="row">

  <h1>Tuneful singers</h1>
  <div class="table-responsive">
  <table class="table table-condensed">
  <tr>
    <th>id</th>
    <th>Artist</th>
    <th>Song</th>
    <th>Info</th>
  </tr>
 
  <% @artists.each do |artist| %>
    <tr>
    	<td><%= artist.id %></td>
      <td><%= artist.name %></td>
      <td><%= artist.sang %></td>
      <td><%= artist.info %></td>
      <td><%= link_to 'show', artist_path(artist), :class => 'btn btn-show btn-sm' %> 
          <%= link_to 'edit', edit_artist_path(artist), :class => 'btn btn-edit btn-sm' %>
          <%= link_to 'destroy', artist_path(artist), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-destroy btn-sm' %>
      </td>
    </tr>
  <% end %>
</table>
</div>
</div>

<%= link_to 'add new artist', new_artist_path, :class => 'btn btn-info btn-sm' %> <%= link_to 'view by song', songs_path, :class => 'btn btn-info btn-sm' %> 
</div>
</div>