<div class="col-xs-12">
<div class="col-xs-10 col-xs-offset-1">
  
  <div class="row">
  <h1>add a singer</h1>
	<%= form_for :artist, url: artists_path do |f| %>
	<% if @artist.errors.any? %>
  	<div id="error_explanation">
	<h2><%= pluralize(@artist.errors.count, "error") %> prohibited
      this song from being saved:</h2>
		<ul>
		<% @artist.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

<%= render 'form' %><br />
<%= link_to 'go back', artists_path, :class => 'btn btn-info btn-sm' %>
<% end %>
</div>
</div>